{% extends 'base.html.twig' %}

{% block title %}Domaine index{% endblock %}

{% block body %}
    <h1>Domaine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td>{{ domaine.id }}</td>
                <td>{{ domaine.label }}</td>
                <td>
                    <a href="{{ path('admin_domaine_show', {'id': domaine.id}) }}">show</a>
                    <a href="{{ path('admin_domaine_edit', {'id': domaine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_domaine_new') }}">Create new</a>
{% endblock %}
